<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633244012626-d806u55fumofkao904d8rgp5tu2crd7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633244012626-d806u55fumofkao904d8rgp5tu2crd7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCwmoR0fdRUzeroa1pf8WG6wJPQlvqwrP4</string>
	<key>GCM_SENDER_ID</key>
	<string>633244012626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.dicodingChatting</string>
	<key>PROJECT_ID</key>
	<string>dicoding-chatting-fa337</string>
	<key>STORAGE_BUCKET</key>
	<string>dicoding-chatting-fa337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633244012626:ios:344d323059a9d223aecf8b</string>
</dict>
</plist>